:root {
    --background-color: #FFFFFF; /* White */
    --header-color: #FFFFFF; /* White */
    --primary-color: #020817; /* Very Dark Blue */
    --secondary-color: #64748B; /* Grayish Blue */
    --text-color: #020817; /* Very Dark Blue */
    --secondary-text-color: #64748B; /* Grayish Blue */
    --border-color: #E2E8F0; /* Light Grayish Blue */
    --hover-background-color: #020817; /* Very Dark Blue */
    --hover-text-color: #FFFFFF; /* White for hover states */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--header-color);
    border-right: 1px solid var(--border-color);
    padding: 2rem 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 0.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin-bottom: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color); /* White text on hover */
}

.nav-links i {
    margin-right: 0.5rem;
}

.main-content {
    flex: 1;
    padding: 2rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.search-bar {
    display: flex;
    position: absolute;
    left: 78%;
}

#search {
    width: 100%;
}

.search-bar button {
    position: absolute;
    margin-left: 210px;
}

.password-list {
    background-color: var(--header-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.password-item:last-child {
    border-bottom: none;
}

.password-actions {
    display: flex;
    gap: 0.5rem;
}

.hidden {
    font-weight: bold;
    -webkit-text-security: disc;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--hover-text-color); /* White */
}

.btn-primary:hover {
    background-color: var(--hover-background-color); /* Darker Very Dark Blue */
    color: var(--hover-text-color); /* White on hover */
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-secondary:hover {
    background-color: #2c3e50;
}

.btn-icon {
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.2rem;
}

.btn-icon:hover {
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 1rem;
}

.first-label {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

#generator .form-group {
    width: 100%;
    border: var(--border-color) 1px solid;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--header-color);
    position: relative;
}

#generator .form-group:last-child {
    margin-bottom: 0;
    margin-top: 1rem;
}

.result {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    margin-left: 5px;
}

.content-options {
    line-height: 1.2;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--header-color);
    color: var(--text-color);
}

.password-strength {
    margin-top: 1rem;
}

.strength-meter {
    height: 10px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.strength-meter-fill {
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.weak { background-color: #e74c3c; }
.medium { background-color: #f39c12; }
.strong { background-color: #16A34A; /* Success (Green) */ }

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: var(--header-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

.close {
    color: var(--secondary-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
    }

    .nav-links li {
        margin-bottom: 0;
    }
}
.display-none {
    display: none;
}